@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.App {
  text-align: center;
  font-family: Roboto;
}

/* Nav Bar styling*/
.nav-bar{
  display: flex;
  align-items: center;
  justify-content: center;
  background: #00A35E;
  height: 60px;
  padding: 0px 15px;
  color: white;
}

/* Home Page styling */
.home-container{
  width: 50%;
  margin: 150px auto;
}

.home-container h1{
  font-size: 2.5rem;
  color:  #00A35E;
}

.home-container button{
  width: 500px;
  height: 50px;
  margin: 10px;
  border-radius: 5px;
  border: 2px solid #00A35E;
  color: #00A35E;
  font-size: 1.2rem;
  cursor: pointer;
}

.home-container button:hover{
  color: white;
  background: #00A35E;
}

/* App buttons */

.add-button{
  width: 200px;
  height: 50px;
  font-size: 1.2rem;
  text-align: center;
  border: 2px solid #00A35E;
  color: #00A35E;
  border-radius: 4px;
  cursor: pointer;
  margin: 1%;
}

.add-button:hover{
  transform: translateY(-2px);
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.12);
}

.delete-button{
  height: 40px;
  width: 80px;
  font-size: 1rem;
  line-height: 19px;
  text-transform: uppercase;
  border-radius: 5px;
  border: 2px solid #d1d1d1;
  cursor: pointer;
}

.submit-button{
  height: 40px;
  width: 80px;
  font-size: 1rem;
  color: #FFFFFF;
  line-height: 19px;
  text-transform: uppercase;
  border-radius: 5px;
  background: #00A35E;
  cursor: pointer;
}

/* Workout List styling */
.workoutlist{
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
}

.workout{
  margin: 10px;
  width: 300px;
  font-size: 1.5rem;
  border: 2px solid #d1d1d1;
  border-radius: 5px;
}

h2{
  font-weight: normal;
}

.workout-container{
  border: 2px solid #ffff;
  margin: 30px auto;
  font-size: 1.2rem;
  width: 300px;
  border-radius: 5px;
  box-shadow: 0 2px 5px 1px rgba(111, 111, 121, 0.12);
}

.workout-container button{
  margin: 1rem;
}
