@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.App {
  text-align: center;
  font-family: Roboto;
}

/* Nav Bar styling*/
.nav-bar{
  display: flex;
  align-items: center;
  justify-content: center;
  background: #00A35E;
  height: 60px;
  padding: 0px 15px;
  color: white;
}

/* Home Page styling */
.home-container{
  width: 50%;
  margin: 150px auto;
}

.home-container h1{
  font-size: 2.5rem;
  color:  #00A35E;
}

.home-container button{
  width: 500px;
  height: 50px;
  margin: 10px;
  border-radius: 5px;
  border: 2px solid #00A35E;
  color: #00A35E;
  font-size: 1.2rem;
  cursor: pointer;
}

.home-container button:hover{
  color: white;
  background: #00A35E;
}

/* App buttons */

.add-button{
  width: 200px;
  height: 50px;
  font-size: 1rem;
  text-align: center;
  border: 1px solid #00A35E;
  color: #00A35E;
  border-radius: 4px;
}

.save-button{
  height: 25px;
  font-size: 1rem;
  text-align: center;
  border: 1px solid #00A35E;
  color: #00A35E;
  border-radius: 4px;
  letter-spacing: 1.25px;
  text-transform: uppercase;
}

.delete-button{
  color: #555555;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.12);
}


