/* App buttons */

.add-save-button {
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  width: 35rem;
  height: 3rem;
  background: #00a35e;
  color: white;
  border-radius: 0.2rem;
  text-transform: uppercase;
}

.add-save-button:hover {
  background: #00a35e;
  color: white;
}

.delete-button {
  height: 40px;
  width: 80px;
  font-size: 1rem;
  line-height: 19px;
  text-transform: uppercase;
  border-radius: 5px;
  border: 2px solid #d1d1d1;
  cursor: pointer;
}

@media (max-width: 890px) {
  .add-save-button {
    width: 25rem;
  }
}
