/* Nav Bar styling*/
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #00a35e;
  height: 3.75rem;
  padding: 0 1rem;
  color: white;
}

.nav-link {
  color: white;
  text-decoration: none;
  margin: 1rem;
  padding-bottom: 8%;
}

.nav-link-active {
  border-bottom: 3px solid white;
}

/* Home Page styling */
.header {
  background: linear-gradient(38.54deg, #ffffff 21.78%, #d1d1d1 113.31%);
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  /* border: 2px solid rebeccapurple; */
}

.header img {
  /* border: 2px solid skyblue; */
}

.header-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-right: 1rem;
  /* border: 2px solid red; */
}

.header-right h3 {
  font-size: 1.5rem;
  font-style: normal;
  color: #00a35e;
  font-weight: 600;
}

.header-right p {
  color: #555555;
  font-style: normal;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 1.75rem;
  letter-spacing: 0.01rem;
  margin-top: 0.5rem;
}

.header-right button {
  font-size: 1rem;
  line-height: 1.25rem;
  background: #ffffff;
  border: 1px solid #00a35e;
  box-sizing: border-box;
  border-radius: 0.3125rem;
  padding: 0.8rem 2rem;
  margin-top: 1.5rem;
  cursor: pointer;
}

.header-right button:hover {
  background: #00a35e;
  color: #fafafa;
}

.middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #555555;
}

.middle .section {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 15rem;
  width: 27rem;
  margin: 1.5rem;
  background: #fafafa;
  border-radius: 0.3125rem;
}

.middle .section .icon {
  height: 2rem;
  width: 2rem;
  /* margin: 1rem auto; */
  color: #00a35e;
}

.middle .section .text {
  margin: 1rem;
}

.middle .section .text h4 {
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 1.75rem;
}

.middle .section .text p {
  font-size: 1rem;
  line-height: 1.3rem;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fafafa;
}

.bottom img {
  width: 25rem;
  margin: 5rem 1rem 0rem 5rem;
}

.bottom-left button {
  font-size: 1rem;
  line-height: 1.25rem;
  background: #ffffff;
  border: 1px solid #00a35e;
  box-sizing: border-box;
  border-radius: 0.3125rem;
  padding: 0.8rem 2rem;
  margin-top: 1.5rem;
  cursor: pointer;
}

.bottom-left button:hover {
  background: #00a35e;
  color: #fafafa;
}

.bottom-left {
  width: 45%;
  margin: 11% 6%;
}

.bottom-left h2 {
  font-size: 2.125rem;
  font-weight: bold;
  color: #219653;
}

.bottom-left p {
  color: #2d2d2d;
  line-height: 1.2rem;
  margin: 1rem 0;
}

.footer {
  text-align: center;
  background: #2d2d2d;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 2%;
}

.footer h3 {
  margin-left: 0.3rem;
}

/* MEDIA QUERIES FOR HOME PAGE */

@media (max-width: 830px) {
  .header img {
    width: 22em;
    height: 18.5em;
  }

  .header-right h3 {
    font-size: 1.5em;
  }

  .header-right p {
    font-size: 1em;
    line-height: 1.75em;
  }

  .middle .section {
    height: 16em;
  }

  .middle .section .text h4 {
    font-size: 1em;
    line-height: 1.3em;
    margin-bottom: 1em;
  }

  .bottom img {
    width: 20em;
  }

  .bottom-left h2 {
    font-size: 1.6em;
  }
}

@media (max-width: 645px) {
  .header {
    flex-direction: column-reverse;
  }
  .header-right {
    margin: 3em;
    align-items: center;
  }

  .middle {
    flex-direction: column;
  }

  .middle .section {
    width: 90%;
  }

  .bottom img {
    display: none;
  }

  .bottom-left {
    width: 100%;
  }

  .bottom-left h2 {
    font-size: 2.125em;
  }
}
