/* DASHBOARD STYLES */
.top {
  background: #007343;
  padding: 1.7rem;
  position: fixed;
}

.dashboard {
  display: flex;
  margin-left: 16rem;
}

/* WORKOUT LIST STYLES */
.workout-list {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-top: 5rem;
}

/* WORKOUT CARD STYLES */

.workout {
  margin: 0.5rem;
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border: 2px solid #d1d1d1;
  border-radius: 0.5rem;
  background: #fafafa;
}

.workout-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name {
  font-size: 1.3rem;
  margin: 0.2rem;
}

.region {
  color: #555555;
  font-size: 1rem;
  margin: 0.2rem;
}

/* SINGLE WORKOUT STYLES */
.single-workout-container {
  display: flex;
  margin-left: 16rem;
  font-size: 1.2rem;
  padding: 2rem;
}
.single-workout {
  margin: 5rem auto;
}

.heart-icon {
  width: 1.2rem;
  height: 1.2rem;
  color: crimson;
}
/* SINGLE WORKOUT TOP */
.workout-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.workout-top h3 {
  font-size: 2rem;
  margin-bottom: 0.7rem;
  text-transform: uppercase;
}

.workout-top .top-p {
  margin-bottom: 0.7rem;
}

.reps-weight {
  display: flex;
}

.reps-weight p {
  margin: 0.7rem 2rem;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

/* SINGLE WORKOUT MIDDLE */
.workout-middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.7rem;
}

.edit-del-fave {
  display: flex;
  justify-content: space-evenly;
}

.edit-del-fave p {
  cursor: pointer;
  margin: 0.3rem;
}

.edit-del-fave p:hover {
  text-decoration: underline;
}

/* SINGLE WORKOUT BOTTOM */
.workout-bottom {
  text-align: center;
}

.workout-bottom p {
  margin: 0.5rem;
}

.workout-bottom .desc {
  font-size: 1.5rem;
}
.workout-bottom .text {
  line-height: 1.5rem;
}
/* SIDEBAR NAV */
.side-nav {
  width: 16rem;
  padding-top: 1.5rem;
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 100vh;
  z-index: 1;
  background: #fafafa;
  overflow-x: hidden;
}

.side-nav .side-nav-link {
  display: flex;
  align-items: center;
  font-weight: bold;
  padding: 1rem;
  margin: 2rem 1rem 1rem 1rem;
  border-radius: 0.5rem;
  color: #555555;
  text-decoration: none;
}

.side-nav .side-active {
  background: #00a35e;
  color: white;
}

.side-nav .side-nav-link .side-nav-icon {
  margin-right: 1rem;
}

.side-nav-mobile {
  display: none;
}

/* DRAWER STYLES */
.side-nav-mobile .nav-open {
  width: 3rem;
  height: 3rem;
  margin-top: 0.1rem;
  color: whitesmoke;
}

.drawer-link {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  text-decoration: none;
  color: black;
  font-family: 'Montserrat', sans-serif;
}

.drawer-link:hover {
  text-decoration: underline;
}

.nav-close {
  width: 2rem;
  height: 2rem;
  margin: 1rem;
}

@media (max-width: 890px) {
  .dashboard {
    margin-left: 12rem;
  }
  .single-workout-container {
    margin-left: 12rem;
    padding: 0rem;
    font-size: 1rem;
  }
  .side-nav {
    width: 12rem;
  }
}

@media (min-width: 501px) {
  .top {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .dashboard {
    margin-left: 0;
    width: 100%;
  }
  .single-workout-container {
    margin-left: 0;
    padding: 1rem;
  }
  .side-nav {
    display: none;
  }
  .side-nav-mobile {
    display: block;
    float: right;
    position: absolute;
    z-index: 1;
    text-align: right;
    margin-left: 88%;
  }
  .top {
    position: relative;
    width: none;
  }
}
